.place-order {
  background-color: rgb(20, 104, 149);
  box-shadow: 2px 5px 10px gray;
  border-radius: 5px;
  width: 400px;
  margin: auto;
  padding: 10px 0;
}
.place-order form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.place-order form input,
textarea {
  width: 80%;
  margin-bottom: 10px;
}
.submit-btn {
  background-color: darkorange;
  border: none;
  padding: 8px;
  border-radius: 5px;
}
