.pending {
  position: absolute;
  bottom: 0;
  padding-bottom: 15px;
}
.delete-button {
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  font-weight: 900;
  border-radius: 5px;
  padding: 5px 10px;
  color: orange;
}
